.contenedor{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
    justify-content: center;
    align-items: center;

}
.cajita{
    width: 150px;
    height: 150px;
    background-color: rgba(0, 255, 0, 0.2);
    border: 5px solid green;
    margin: 20px;
}
.cajita p{
    font-size: 50px;
    text-align: center;
}