*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    text-decoration: none;
}
header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    /*posicion*/
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    /*estilo*/
    background-color: blue;
    color: white;
    padding: 1rem 2rem;
}
.header-izquierda{
    display: flex;
    align-items: center;
}
.header-derecha{
    display: flex;
    justify-content: end;
    align-items: center;
}
.header-derecha > a{
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    margin-left: 2rem ;
}
.header-derecha > a:hover{
    color: gainsboro;
}
section{
    height: 100vh;
    background-color: black;
    padding-top: 70px;
}
section.uno {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: white;
}
section.uno .izquierda{
    display: flex;
    justify-content: center;
    align-items: center;
}
section.uno .izquierda img{
    width: 90%;
    height: 90%;
    border-radius: 50%;
}
section.uno .derecha{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}
section.uno .derecha p{
    font-size: 1.5rem;
}
section.uno .derecha a{
    align-self: flex-start;
}
section.dos{
    animation: cambiarColor 4s linear infinite;
}
@keyframes cambiarColor{
    0%, 100%{
        background-color: red;
    }
    25%{
        background-color: yellow;
    }
    50%{
        background-color: greenyellow;
    }
    75%{
        background-color: green;
    }
}
.btn{
    background-color: blue;
    color: white;
    padding: 1rem;
    margin-top: 1rem;

    font-size: 1.5rem;
    border-radius: 5px;
}
.btn:hover{
    background-color: lightblue;
}

@media (max-width: 796px ) {
    html{
       font-size: 80%; 
    }
}
@media (max-width: 576px) {
    header{
       grid-template-columns: 1fr;
       height: 100px;
    }
    h1{
        text-align: center;
    }
    .header-izquierda, .header-derecha{
        justify-content: center;
        padding: 2rem auto;
        margin: 0.2rem;
    }
    /* .header-izquierda, section.uno .izquierda{
        grid-row: 2;
    } */
    section{
        padding-top: 100px;
        margin-bottom: 80px;
    }
    section.uno{
        grid-template-columns: 1fr;
    }
    section.uno .derecha p{
        text-align: center;
    }
    section.uno .derecha a{
        align-self: center;
    }
}